/* font import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities */

body{
  font-family: 'Poppins', sans-serif;
  background-color: #F3f1ff;
  margin:0px;
}

.top
{
  background-color: royalblue;
  
}
nav
{
  display: flex;
  justify-content: space-around;
  
}
.name {
  display: flex;
  align-items: center;
  margin:15px 0;

}
.idea
{
  font-size: 1.3em;
  font-weight: 700;
}
.name a
{
  text-decoration: none;
  color:white;
  font-size: 1em;
  margin-left:30px;
  font-weight: 400;
}
.name img{
  width:56px;
  height: 56px;
  margin-left:20px;
 
}
#dev
{
  width:56px;
  height: 56px;
  margin-left:25px;
  margin-right:15px;
}
main
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container
{
  background-color: white;
  width:870px;
  padding: 30px;
  margin-top:21px;

}

.section-title
{
  color:#562EFF;
  font-size: 24px;
  margin-top: 3px;
  
}
.players
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap:30px;
  margin-bottom: 20px;
}
.player
{
  display: flex;
  align-items: center;
}
.player img{
  width:56px;
  height: 56px;
}
.player-name
{
  margin-left: 16px;
  font-size: 16px;
}
hr
{
  border: 1px solid lightgray;
}

/* Top blog style  */

.blogs
{

  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.blog
{
  display: flex;
}

.thumbnail img
{
  width: 177px ;
  height: 117px;
}
.blog-info
{
  margin-left: 16px;
}
.blog-title
{
  font-size: 20px;
}
.blog-author
{
  color:rgb(160, 160, 160);
  
}

/* course style */
.courses
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap:24px;
  
}
.course
{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  box-shadow:3px 3px 5px rgba(231, 231, 231, 0.5);
}

.course .course-banner img{
  width:224px;
  height:120px ;
}
.course-title h3
{
  font-size:22px;
}
.course-author
{
  color:#ED6B4F;
}
.course-info
{
  display: flex;
  width: auto;
  justify-content: space-between;
}
.fa-star.filled
{
  color:#FFC014;
}
.fa-star.empty
{
  color: rgb(206, 206, 206);
  
  
}
.course-duration
{
  background-color: rgba(255, 95, 122,0.4);
  border-radius: 3px;
  color:rgb(255, 87, 115);
  padding: 0px 3px;
}

/* meida quaries */

/* mobile device */


@media only screen  and (max-width:688px){

  .container
  {
    width: 100%;
  }
  .players , .blogs , .courses
  {

    grid-template-columns: repeat(1,1fr);
  }
  .player , .blog
  {
    flex-direction: column;
  }
 
  .course-info
{
  display: flex;
  justify-content: flex-start;
}

  
}

/* tablet device */

@media only screen  and (min-width: 689px) and (max-width: 992px)
{

  .container
  {
    width: 100%;
  }
.players , .courses
{
  grid-template-columns: repeat(2,1fr);
}
.course-info
{
  display: flex;
  justify-content: flex-start;
}


}
